body{
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
}

.btn-sample {
    color: #FFFFFF;
    background-color: #0AB4F7;
    border-color: #FFFFFF;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    color: #FFFFFF;
    background-color: #086DF2;
    border-color: #FFFFFF;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
    background-color: #0AB4F7;
    border-color: #FFFFFF;
}

.btn-sample .badge {
    color: #0AB4F7;
    background-color: #FFFFFF;
}

/*
    字体图标
*/
@font-face {
    font-family: lk;
    src: url('../fonts/lk.eot') format('embedded-opentype');
    src: url('../fonts/lk.svg') format('svg');
    src: url('../fonts/lk.ttf') format('truetype');
    src: url('../fonts/lk.woff') format('woff');
}

[class^="icon-"],
[class*=" icon-"]{
    font-family: lk;
    font-style: normal;
}

#lk_header .top-bar{
    height: 40px;
    border-bottom: 1px solid #000;
    line-height: 39px;
}

#lk_header .top-bar .container .row>div+div{
    border-left: 1px solid #e0e0e0;
}

#lk_header .top-bar .container .top-bar-1 a{
    position: relative;
}

#lk_header .top-bar .container .top-bar-1 a img{
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -65px;
    margin-top: -10px;
}

#lk_header .top-bar .container .top-bar-1 a:hover img{
    display: block;
    z-index: 9999;
}

.icon-phone::before{
    content: '\e958';
    font-size: 13px;
}

.icon-tel::before{
    content: '\e942';
    font-size: 13px;
}

#lk_header .navbar-lk{
    background-color: #FFFFFF;
    margin-bottom: 0;
}

#lk_header .navbar-lk .navbar-brand{
    height: 70px;
    padding: 10px 15px;
}

#lk_header .navbar-lk .navbar-nav a{
    height: 70px;
    line-height: 40px;
}

#lk_header .navbar-lk .navbar-nav li.active a,
#lk_header .navbar-lk .navbar-nav li a:hover{
    background-color: transparent;
    border-bottom: 2px solid #0AB4F7;
}

#lk_header .navbar-lk .navbar-toggle{
    margin-top: 20px;
}

#lk_carousel{

}

#lk_carousel .item{
    background: no-repeat center center;
    background-size: cover;
}

@media screen and (min-width: 640px){
    #lk_carousel .item{
        height: 410px;
    }
}

#lk_about ,#lk_hot ,#lk_link{
    padding: 20px 0;
}

#lk_about .title,#lk_hot .title,#lk_link .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

#lk_about p{
    line-height: 30px;
    font-size: 15px;
}

#lk_product{
    padding: 30px 0;
    background-color: #f0f0f0;
}

#lk_product .nav{
    font-size: 18px;
}

#lk_product .nav a{
    color: #999;
}

#lk_product .nav .active a{
    border: none;
    background-color: transparent;
    border-bottom:2px solid #0AB4F7;
    color: #000;
}

#lk_product .tab-content{
    padding-top: 20px;
}

#lk_product .tab-content .pd-left{
    padding: 40px 0;
}

#pd_one_1,#pd_one_4{
    margin: 15px 0;
}

#pd_one_2{
    background-color: transparent;
}

#lk_product #pd_two_1{
    padding: 100px 0;
}

#lk_product #pd_two_1 h1{
    margin-bottom: 15px;
}

#lk_hot .lesson{
    padding: 15px 10px;
}

#lk_hot .lesson .media-left{
    width: 20%;
}

#lk_hot .lesson .media-body{
    width: 60%;
    vertical-align: middle;
}

#lk_hot .lesson .media-right{
    width: 20%;
    text-align: left;
    font-size: 16px;
    vertical-align: middle;
}

#lk_link .logos{
    list-style: none;
}

#lk_link .logos li{
    display: inline-block;
    padding: 20px 30px;
}

#lk_footer{
    width: 100%;
    height: 200px;
    background: url("../image/ft_bg.png") no-repeat center;
    background-size: cover;
    font-size: 16px;
    color: #FFFFFF;
}

#lk_footer ul{
    list-style: none;
}

#lk_footer .one,#lk_footer .two{
    border-right: 1px solid #666;
    padding: 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lk_footer .one li{
    line-height: 40px;
}

#lk_footer .one li a{
    color: #FFFFFF;
}

#lk_footer .three{
    padding: 10px 40px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#lk_footer .three a img{
    margin-right: 5px;
}






